[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
openai = "*"
llama-index = "*"
faiss-cpu = "*"
python-multipart = "*"
llama-cpp-python = "*"
python-dotenv = "*"
fastapi = {extras = ["standard"], version = "*"}
supabase = "*"
pydantic = "*"
nanoid = "*"

[dev-packages]

[requires]
python_version = "3.13"

[scripts]
dev = "fastapi dev src/main.py"
llm = "python llm/llm.py"
