[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
python-multipart = "*"
python-dotenv = "*"
fastapi = {extras = ["standard"], version = "*"}
supabase = "*"
pydantic = "*"
nanoid = "*"
llama-index = "*"
llama-index-embeddings-huggingface = "*"
llama-cpp-python = "*"
chromadb = "*"
llama-index-vector-stores-chroma = "*"

[dev-packages]

[requires]
python_version = "3.13"

[scripts]
dev = "fastapi dev src/main.py"
llm = "python -m src.llm.llm --query"
llm-token = "python -m src.llm.llm --token"
preprocess = "python -m src.rag.preprocess"
